<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="addEquipment(form)" #form="ngForm">
      <div class="row">
        <div class="col">
          <label for="equipment-name">Name</label>
          <input type="text"
                 class="form-control"
                 id="equipment-name"
                 placeholder="Name"
                 name="name"
                 ngModel
                 required
          >
        </div>
        <div class="col">
          <label for="equipment-amount">Amount</label>
          <input type="number"
                 class="form-control"
                 id="equipment-amount"
                 placeholder="Amount"
                 name="amount"
                 ngModel
                 required
                 min="1"
          >
        </div>
      </div>
      <div class="row">
        <div class="col mt-2">
          <button type="submit"
                  class="btn btn-sm btn-outline-success me-2"
                  [disabled]="!form.valid"
          >
            Add
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-danger me-2"
          >
            Delete
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-primary"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
