<div class="row">
  <div class="col-md-12 d-flex justify-content-between">
    <div>
      <h1>{{ workout.name }}</h1>
    </div>
    <div appDropdown
         class="dropdown"
    >
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
              type="button"
              id="manageWorkoutButton"
      >
        Manage Workout
      </button>
      <ul class="dropdown-menu"
      >
        <li>
          <a class="dropdown-item"
             (click)="addWorkoutEquipmentToList()"
          >
            Add To Inventory
          </a>
        </li>
        <li>
          <a class="dropdown-item"
             [routerLink]="['edit']"
          >
            Edit
          </a>
        </li>
        <li>
          <a class="dropdown-item"
            (click)="deleteWorkout()"
          >
            Delete
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h2>Details</h2>
      <small>{{workout.date | date}}</small>
    </div>
    <div class="col-md-12">
      <p>{{workout.details}}</p>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let equipment of workout.equipments"
        >
          {{ equipment.name }}
          <span class="badge bg-primary rounded-pill">{{ equipment.amount }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
