<div class="row border-start">
  <div class="col-md-12 d-flex justify-content-between">
    <h1>Knight Workout I</h1>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
              type="button"
              id="manageWorkoutButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
      >
        Manage Workout
      </button>
      <ul class="dropdown-menu"
          aria-labelledby="manageWorkoutDropdown"
      >
        <li>
          <a class="dropdown-item"
             href="#"
          >
            Add To Equipment list
          </a>
        </li>
        <li>
          <a class="dropdown-item"
             href="#"
          >
            Edit
          </a>
        </li>
        <li>
          <a class="dropdown-item"
             href="#"
          >
            Delete
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Details</h3>
      <p>20x Pull Ups</p>
    </div>
    <div class="col-md-12">
      <h3>Equipments</h3>
      <p>Pull-Up bar</p>
    </div>
  </div>
</div>
