<div class="row">
  <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
    <div class="row mt-3">
      <div class="col mb-3">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 placeholder="Name"
                 formControlName="name"
                 name="name"
          >
      </div>
      <div class="col mb-3">
          <label for="title">Date</label>
          <input type="date"
                 class="form-control"
                 id="date"
                 formControlName="date"
                 placeholder="Date"
                 name="Date"
          >
      </div>
      <div class="mb-3">
        <label for="details" class="form-label">Details</label>
        <textarea 
          class="form-control" 
          id="details" 
          formControlName="details"
          rows="3"
        ></textarea>
      </div>
      <div class="row"
        formArrayName="equipments"
      >
        <div *ngFor="let equipmentCtrl of controls; let idx = index"
             [formGroupName]="idx"
              class="row mb-3"
        >
          <div class="col-md-6">
            <input type="text"
                   class="form-control"
                   placeholder="Equipment"
                   formControlName='name'
            >
          </div>
          <div class="col-md-4">
            <input type="number"
                   class="form-control"
                   placeholder="Amount"
                   formControlName="amount"
            >
          </div>
          <div class="col-md-2">
             <button 
                 (click)="deleteEquipment(idx)"
                 class="btn btn-outline-danger"
             >
               X
             </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
              <button 
                class="btn btn-outline-success"
                type="button" 
                (click)="onAddEquipment()"
              >
                Add New Equipment
              </button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <hr>
        <div class="col-md-2">
          <button 
            type="submit" 
            class="btn btn-outline-primary"
            [disabled]="!workoutForm.valid"
          >Save</button>
        </div>
        <div class="col-md-2">
          <button 
            type="buttton"
            class="btn btn-outline-danger"
            (click)="onCancel()"
          >
            Cancel
          </button>
       </div>
      </div>
    </div>
  </form>
</div>
