<div class="rows">
  <div class="col-xs-10">
    <h2>Add Equipment to Your Inventory</h2>
    <app-equipment-edit></app-equipment-edit>
    <hr>
    <div class="col-md-4">
      <h2>Inventory Equipment List</h2>
      <div class="list-group">
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
           *ngFor="let equipment of equipments"
        >
          {{equipment.name}}
          <span class="badge bg-primary rounded-pill">{{equipment.amount}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
